<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user.username }} Details</title>
</head>
<body>
{% load static %}
{% load filters %}
<link rel="stylesheet" href="{% static 'main/style.css' %}">

<div class="main-title-container">
    <div class="main-title">{{user.username}}</div>
    <div class="total-value-box">Total Value: {{ total_value|formatCoins }} </div>
</div>


<table>
        <thead>
            <tr>
                <th></th>
                <th>Skin Name</th>
                <th>Quantity</th>
                <th>Lowest BIN</th>
                <th>Total Value</th>
            </tr>
        </thead>
        <tbody>
            {% for owned_skin in owned_skins %}
                <tr>
                    <td><img class = "table_skin_image" src="{{owned_skin.skin.image_url}}"></td>
                    <td>{{ owned_skin.skin.name | parse_skin }}</td>
                    <td>{{ owned_skin.quantity }}</td>
                    <td>{{ owned_skin.skin.lbin | formatCoins }}</td>
                    <td>{{ owned_skin.value | formatCoins}}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="6">No owned skins found for this user.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>